@page
@model WebApplication1.Pages.TypeFourQueriesModel
@{
    List<string> currentStateKeys = TempData["CurrentStateKeys"] as List<string>;

}

<!DOCTYPE html>
<html>
<head>
    <title>Generated Queries</title>
</head>
<body>
    <h2>Generated Queries</h2>
    <pre>
        @Model.GeneratedQueries
    </pre>
</body>
</html>
